<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<meta charset="utf-8"/>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>      
	<meta property="og:title" content="" />
	<link rel="shortcut icon" href="/<%= siteSettings.favicon %>"/>

	<!--begin::Fonts(mandatory for all pages)-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
	<!--end::Fonts-->

	<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
	<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.bundle.css" rel="stylesheet" type="text/css"/>
	<!--end::Global Stylesheets Bundle-->

	<% if(currentMenu == '/dashboard') { %>
	<link href="/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>
	<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>
	<% } %>

	<script>
	// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking)
	if (window.top != window.self) {
	window.top.location.replace(window.self.location.href);
	}
	</script>
</head>

<body  id="kt_app_body" data-kt-app-header-fixed="true" data-kt-app-header-fixed-mobile="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true"  class="app-default" >